.login-option {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 4px;
  padding: 4px 0px;
}

.bottom-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-me {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

.forgot-password {
  color: #6757f6;
  cursor: pointer;
}

@media screen and (min-width: 250px) and (max-width: 350px) {
  .signUp-link {
    display: none;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .signIn.inputField-checkbox {
    display: none;
  }
  .signIn.phone-description {
    display: none;
  }
  .signUp-link {
    display: none;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .phoneNumberCheckBox {
    position: relative;
  }
  .signIn .inputField-checkbox {
    position: absolute;
    top: 34px !important;
    right: 16px;
  }
  .signUp-link {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .phoneNumberCheckBox {
    position: relative;
  }
  .signIn .inputField-checkbox {
    position: absolute;
    top: 34px !important;
    right: 16px;
  }
  .signUp-link {
    display: none;
  }
}
